@model FinalProject.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}
<div>
    <dl class="dl-horizontal">
        <dt class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
