@model IEnumerable<FinalProject.DATA.EF.Reservation>

@{
    ViewBag.Title = "List of reservations";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay" style="background-image: url(/Content/assets/img/page-title.jpg)">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>@ViewBag.Title</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>List of all reservations</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReservationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId })
            </td>
        </tr>
    }

</table>
