@model FinalProject.UI.MVC.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay" style="background-image: url(/Content/assets/img/page-title.jpg)">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>@ViewBag.Title</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Welcome back! Please login to your account to reserve a car.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Login Page Content Start ==-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="login-form">
                            <h3>Welcome Back!</h3>
                            <form action="index.html">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="username">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "", type = "text", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="password">
                                    @Html.PasswordFor(m => m.Password, new { @class = "", type = "password", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="log-btn">
                                    <button type="submit"><i class="fa fa-sign-in"></i> Log In</button>
                                </div>
                            </form>
                        </div>
                        <div class="login-other">
                            <span class="or">or</span>
                            <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
                            <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
                        </div>
                        <div class="create-ac">
                            <p>Don't have an account? <a href="@Url.Action("Register", "Account")">Sign Up</a></p>
                        </div>
                        <div class="login-menu">
                            <a href="@Url.Action("About", "Index")">About</a>
                            <span>|</span>
                            <a href="@Url.Action("Index", "Contact")">Contact</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}